version: "3"
services:
  neon-wssubscriber:
    container_name: neon-wssubscriber
    image: neonlabsorg/neon-wssubscriber:${TAG}
    environment:
      SOLANA_RPC_ENDPOINT: ${SOLANA_RPC_ENDPOINT}
      EVM_ADDRESS: ${EVM_ADDRESS}
      NEON_WEBSOCKET_PORT: 8080
      NEON_SERVICE_ENV: development
      NS_LOG_LEVEL: info
      NS_SOLANA_URL: ${SOLANA_RPC_ENDPOINT}
      NS_METRICS_WSSUBSCRIBER_LISTEN_ADDRESS: "127.0.0.1"
      NS_METRICS_WSSUBSCRIBER_LISTEN_PORT:  20505
      NS_METRICS_WSSUBSCRIBER_INTERVAL: 5 # 5 seconds
      NEON_WSSUBSCRIBER_INTERVAL: 5 # 5 seconds
      NS_COMMUNICATION_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_SERVER_LISTEN_PORT: 10200
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_PORT: 1055
      NS_COMMUNICATION_WSSUBSCRIBER_COUNT: 1
      NS_COMMUNICATION_CUR_WSSUBSCRIBER_INDEX: 0
      NS_COMMUNICATION_WSSUBSCRIBER_0_IP: "127.0.0.1:10504"
      NS_COMMUNICATION_WSSUBSCRIBER_0_INSTANCE_ID: "ks45pyyjx1wxdtjcg6w5k4xi"
      NS_COMMUNICATION_WSSUBSCRIBER_0_CLUSTER_NAME: "CL_1"
    networks:
      - proxy-net
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
    expose:
      - 8080
    ports:
      - 8282:8080
networks:
  proxy-net:
