version: "3"
services:
  indexer-db:
    container_name: indexer-db
    hostname: indexer-db
    image: postgres:13
    # volumes:
    #   - ./init_db.sql:/docker-entrypoint-initdb.d/1-schema.sql
    environment:
      POSTGRES_USER: ${NS_DB_INDEXER_USERNAME:-indexer}
      POSTGRES_PASSWORD: ${NS_DB_INDEXER_PASSWORD:-indexerpass}
      POSTGRES_DB: indexer
    expose:
      - "5432"
    ports:
      - "5432"
    networks:
      - proxy-net

  neon-mempool:
    container_name: neon-mempool
    build:
      dockerfile: Dockerfile
      context: .
      target: neon-mempool
    environment:
      NEON_SERVICE_ENV: development
      NS_LOG_LEVEL: info
      NS_LOG_USE_FILE: false
      NS_SOLANA_URL: http://solana:8899
      NS_METRICS_MEMPOOL_LISTEN_ADDRESS: "127.0.0.1"
      NS_METRICS_MEMPOOL_LISTEN_PORT: 20504
      NS_METRICS_MEMPOOL_INTERVAL: 5 # 5 seconds
      NS_COMMUNICATION_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_SERVER_LISTEN_PORT: 10200
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_PORT: 1055
      NS_COMMUNICATION_MEMPOOL_COUNT: 1
      NS_COMMUNICATION_CUR_MEMPOOL_INDEX: 0
      NS_COMMUNICATION_MEMPOOL_0_IP: "127.0.0.1:10504"
      NS_COMMUNICATION_MEMPOOL_0_INSTANCE_ID: "pwvrftdcivl8abok58n5usau"
      NS_COMMUNICATION_MEMPOOL_0_CLUSTER_NAME: "CL_1"
    expose:
      - "20504"
    ports:
      - 20504
    networks:
      - proxy-net

  neon-proxy:
    container_name: neon-proxy
    build:
      dockerfile: Dockerfile
      context: .
      target: neon-proxy
    environment:
      NEON_SERVICE_ENV: development
      NS_LOG_LEVEL: info
      NS_LOG_USE_FILE: false
      NS_SOLANA_URL: http://solana:8899
      NS_DB_INDEXER_HOSTNAME: "indexer-db"
      NS_DB_INDEXER_POST: 5432
      NS_DB_INDEXER_SSLMODE: disable
      NS_DB_INDEXER_USERNAME: "indexer"
      NS_DB_INDEXER_PASSWORD: "indexerpass"
      NS_DB_INDEXER_DATABASE: "indexer"
      NS_METRICS_PROXY_LISTEN_ADDRESS: "127.0.0.1"
      NS_METRICS_PROXY_LISTEN_PORT:  20501
      NS_METRICS_PROXY_INTERVAL: 5 # 5 seconds
      NS_COMMUNICATION_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_SERVER_LISTEN_PORT: 10200
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_PORT: 1055
      NS_COMMUNICATION_PROXY_COUNT: 1
      NS_COMMUNICATION_CUR_PROXY_INDEX: 0
      NS_COMMUNICATION_PROXY_0_IP: "127.0.0.1:10501"
      NS_COMMUNICATION_PROXY_0_INSTANCE_ID: "xqybpxnu4bhpjnn7vtgh2xzo"
      NS_COMMUNICATION_PROXY_0_CLUSTER_NAME: "CL_1"
    depends_on:
      - indexer-db
      - neon-mempool
    expose:
      - "20501"
    ports:
      - 20501
    networks:
      - proxy-net

  neon-indexer:
    container_name: neon-indexer
    build:
      dockerfile: Dockerfile
      context: .
      target: neon-indexer
    environment:
      NEON_SERVICE_ENV: development
      NS_LOG_LEVEL: info
      NS_LOG_USE_FILE: false
      NS_SOLANA_URL: http://solana:8899
      NS_DB_INDEXER_HOSTNAME: "indexer-db"
      NS_DB_INDEXER_POST: 5432
      NS_DB_INDEXER_SSLMODE: disable
      NS_DB_INDEXER_USERNAME: "indexer"
      NS_DB_INDEXER_PASSWORD: "indexerpass"
      NS_DB_INDEXER_DATABASE: "indexer"
      NS_METRICS_INDEXER_LISTEN_ADDRESS: "127.0.0.1"
      NS_METRICS_INDEXER_LISTEN_PORT:  20502
      NS_METRICS_INDEXER_INTERVAL: 5 # 5 seconds
      NS_COMMUNICATION_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_SERVER_LISTEN_PORT: 10200
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_PORT: 1055
      NS_COMMUNICATION_INDEXER_COUNT: 1
      NS_COMMUNICATION_CUR_INDEXER_INDEX: 0
      NS_COMMUNICATION_INDEXER_0_IP: "127.0.0.1:10502"
      NS_COMMUNICATION_INDEXER_0_INSTANCE_ID: "yjx1wxdtjcg6w5k4xiks45py"
      NS_COMMUNICATION_INDEXER_0_CLUSTER_NAME: "CL_3"
    depends_on:
      - indexer-db
    expose:
      - "20502"
    ports:
      - 20502
    networks:
      - proxy-net

  neon-subscriber:
    container_name: neon-subscriber
    build:
      dockerfile: Dockerfile
      context: .
      target: neon-subscriber
    environment:
      NEON_SERVICE_ENV: development
      NS_LOG_LEVEL: info
      NS_LOG_USE_FILE: false
      NS_SOLANA_URL: http://solana:8899
      NS_DB_INDEXER_HOSTNAME: "indexer-db"
      NS_DB_INDEXER_POST: 5432
      NS_DB_INDEXER_SSLMODE: disable
      NS_DB_INDEXER_USERNAME: "indexer"
      NS_DB_INDEXER_PASSWORD: "indexerpass"
      NS_DB_INDEXER_DATABASE: "indexer"
      NS_METRICS_SUBSCRIBER_LISTEN_ADDRESS: "127.0.0.1"
      NS_METRICS_SUBSCRIBER_LISTEN_PORT:  20503
      NS_METRICS_SUBSCRIBER_INTERVAL: 5 # 5 seconds
      NEON_SUBSCRIBER_INTERVAL: 5 # 5 seconds
      NS_COMMUNICATION_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_SERVER_LISTEN_PORT: 10200
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_PORT: 1055
      NS_COMMUNICATION_SUBSCRIBER_COUNT: 1
      NS_COMMUNICATION_CUR_SUBSCRIBER_INDEX: 0
      NS_COMMUNICATION_SUBSCRIBER_0_IP: "127.0.0.1:10503"
      NS_COMMUNICATION_SUBSCRIBER_0_INSTANCE_ID: "h9lvih1kqfs2oj0vmqhj11wp"
      NS_COMMUNICATION_SUBSCRIBER_0_CLUSTER_NAME: "CL_1"
    depends_on:
      - indexer-db
    expose:
      - "20503"
    ports:
      - 20503
    networks:
      - proxy-net

  neon-wssubscriber:
    container_name: neon-wssubscriber
    build:
      dockerfile: Dockerfile
      context: .
      target: neon-wssubscriber
    environment:
      SOLANA_RPC_ENDPOINT: ${SOLANA_RPC_ENDPOINT}
      EVM_ADDRESS: ${EVM_ADDRESS}
      NEON_WEBSOCKET_PORT: 8080
      NEON_SERVICE_ENV: development
      NS_LOG_LEVEL: info
      NS_LOG_USE_FILE: false
      NS_SOLANA_URL: http://solana:8899
      NS_DB_INDEXER_HOSTNAME: "indexer-db"
      NS_DB_INDEXER_POST: 5432
      NS_DB_INDEXER_SSLMODE: disable
      NS_DB_INDEXER_USERNAME: "indexer"
      NS_DB_INDEXER_PASSWORD: "indexerpass"
      NS_DB_INDEXER_DATABASE: "indexer"
      NS_METRICS_WSSUBSCRIBER_LISTEN_ADDRESS: "127.0.0.1"
      NS_METRICS_WSSUBSCRIBER_LISTEN_PORT:  20505
      NS_METRICS_WSSUBSCRIBER_INTERVAL: 5 # 5 seconds
      NEON_WSSUBSCRIBER_INTERVAL: 5 # 5 seconds
      NS_COMMUNICATION_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_SERVER_LISTEN_PORT: 10200
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_ADDRESS: "127.0.0.1"
      NS_COMMUNICATION_ENDPOINT_SERVER_LISTEN_PORT: 1055
      NS_COMMUNICATION_WSSUBSCRIBER_COUNT: 1
      NS_COMMUNICATION_CUR_WSSUBSCRIBER_INDEX: 0
      NS_COMMUNICATION_WSSUBSCRIBER_0_IP: "127.0.0.1:10504"
      NS_COMMUNICATION_WSSUBSCRIBER_0_INSTANCE_ID: "ks45pyyjx1wxdtjcg6w5k4xi"
      NS_COMMUNICATION_WSSUBSCRIBER_0_CLUSTER_NAME: "CL_1"
    depends_on:
      - indexer-db
    expose:
      - "20503"
    ports:
      - 20503
    networks:
      - proxy-net

networks:
  proxy-net:
